.pickup__hero {
  max-width: 1440px;
  margin: 57px auto 64px;
  padding: 0 32px;

  @media (max-width: 999px) {
    margin: 0 auto 48px;
    padding: 0;
  }

  .pickup__hero-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--black);
    padding-left: 16px;
    border-left: 5px solid var(--red-400);
    margin: 0 0 16px;
    display: block;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .pickup_bg_image_box {
    width: 100%;
    height: 774px;
    background: #95e1e6;
    border-radius: 20px;
    position: relative;
    overflow: hidden;

    @media (max-width: 999px) {
      height: 868px;
      border-radius: 0;
    }

    .hero_exp_pickup_img {
      width: 286.48px;
      height: auto;
      position: absolute;
      top: 20px;
      left: 33px;

      @media (max-width: 992px) {
        width: 215.2px;
        top: 20px;
        left: 84px;
      }
    }
    .hero_user_img {
      width: auto;
      height: auto;
      object-fit: contain;
      position: absolute;
      left: 300px;
      bottom: 0;
      z-index: 1;

      @media (min-width: 1299px) and (max-width: 1399px) {
        left: 209px;
      }
      @media (min-width: 1199px) and (max-width: 1299px) {
        width: 380px;
        left: 160px;
      }
      @media (min-width: 1099px) and (max-width: 1199px) {
        width: 380px;
        left: 52px;
      }
      @media (min-width: 999px) and (max-width: 1099px) {
        width: 406px;
        left: 52px;
      }

      @media (max-width: 999px) {
        display: none;
      }
    }

    .user-mob-img {
      width: auto;
      height: auto;
      object-fit: contain;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;

      @media (min-width: 999px) {
        display: none;
      }
    }

    .hero_user_red-shap {
      width: auto;
      height: auto;
      object-fit: contain;
      position: absolute;
      left: 0;
      bottom: 0;

      @media (min-width: 1299px) and (max-width: 1399px) {
        left: -103px;
      }

      @media (min-width: 1199px) and (max-width: 1299px) {
        left: -192px;
      }
      @media (min-width: 999px) and (max-width: 1199px) {
        left: -310px;
      }
      @media (max-width: 999px) {
        display: none;
      }
    }
    .user-bg-mob {
      width: auto;
      height: auto;
      object-fit: contain;
      position: absolute;
      left: 0;
      bottom: -20px;
      @media (min-width: 999px) {
        display: none;
      }
    }

    .hero_public_order {
      width: auto;
      height: auto;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;

      @media (max-width: 999px) {
        display: none;
      }
    }

    .order-mob-img {
      width: 200.06px;
      height: 249.03px;
      position: absolute;
      top: 389px;
      right: 0;
      z-index: 1;

      @media (max-width: 399px) {
        width: 150.06px;
        height: 213.03px;
        right: -28px;
      }

      @media (min-width: 999px) {
        display: none;
      }
    }

    .hero_public_order-red-shap {
      width: auto;
      height: auto;
      position: absolute;
      top: 0;
      right: 0;

      @media (max-width: 999px) {
        display: none;
      }
    }
    .order-bg-mob {
      width: auto;
      height: auto;
      object-fit: contain;
      position: absolute;
      top: 250px;
      right: 0;

      @media (max-width: 399px) {
        right: -64px;
      }

      @media (min-width: 999px) {
        display: none;
      }
    }

    .hero-arrow {
      width: 660px;
      height: auto;
      position: absolute;
      bottom: 158px;
      left: 492px;
      z-index: 1;

      @media (min-width: 1299px) and (max-width: 1399px) {
        left: 402px;
      }
      @media (min-width: 1199px) and (max-width: 1299px) {
        width: 637px;
        bottom: 152px;
        left: 335px;
      }
      @media (min-width: 1099px) and (max-width: 1199px) {
        width: 638px;
        bottom: 150px;
        left: 217px;
      }

      @media (min-width: 999px) and (max-width: 1099px) {
        width: 532px;
        bottom: 189px;
        left: 227px;
        transform: rotate(-5deg);
      }

      @media (max-width: 999px) {
        display: none;
      }
    }

    .pickup-hero-text {
      font-weight: 600;
      font-size: 35.8333px;
      line-height: 47px;
      letter-spacing: 0.01em;
      color: #cc3333;
      margin: 0;

      max-width: 424.57px;
      height: auto;
      position: absolute;
      right: 47px;
      bottom: 56.53px;

      @media (max-width: 999px) {
        max-width: 800px;

        left: 60px;
        top: 245px;
        bottom: auto;

        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.01em;
      }
    }
  }
}
