.pickup__hero {
  max-width: 1440px;
  margin: 0 auto 92px;

  .pickup__hero-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--black);
    padding-left: 16px;
    border-left: 5px solid var(--red-400);
    margin: 57px 0 7.75px 32px;
    display: block;

    @media (max-width: 992px) {
      display: none;
    }
  }
  .inner_container {
    padding: 0 62px;

    @media (min-width: 992px) and (max-width: 1399px) {
      padding: 0 32px;
    }
    @media (max-width: 992px) {
      padding: 0;
    }

    .pickup_bg_image_box {
      width: 100%;
      height: 774px;
      background-image: url("../images/pickup/hero-bg-image.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      position: relative;

      @media (max-width: 992px) {
        width: 100%;
        height: 774px;
        background-image: url("../images/pickup/hero-mobile-img.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        overflow: hidden;
      }

      .hero_exp_pickup_img {
        width: auto;
        height: auto;
        position: absolute;
        top: 20px;
        left: 151px;

        @media (min-width: 1099px) and (max-width: 1399px) {
          width: 390px;
          top: 90px;
          left: 84px;
        }
        @media (min-width: 992px) and (max-width: 1099px) {
          width: 300px;
          top: 120px;
          left: 84px;
        }
        @media (max-width: 992px) {
          width: 215.2px;
          top: 9.45px;
          left: 84px;
        }
      }
      .hero_user_img {
        width: auto;
        height: auto;
        object-fit: contain;
        position: absolute;
        left: 134px;
        bottom: 0;

        @media (min-width: 1099px) and (max-width: 1399px) {
          left: 52px;
        }
        @media (min-width: 992px) and (max-width: 1099px) {
          height: 430px;
          left: 52px;
          bottom: 70px;
        }

        @media (max-width: 992px) {
          height: 491.03px;
          left: -29px;
          bottom: 171px;
        }
      }
      .hero_public_shop {
        width: auto;
        height: auto;
        position: absolute;
        top: 50.25px;
        right: 220.35px;

        @media (min-width: 1099px) and (max-width: 1399px) {
          height: 285px;
          top: 95px;
        }

        @media (min-width: 992px) and (max-width: 1099px) {
          height: 255px;
          top: 135px;
          right: 190px;
        }
        @media (max-width: 992px) {
          height: 249.03px;
          top: 202px;
          right: -34px;
        }
      }
      .hero_online_Tag_img {
        width: auto;
        height: auto;
        position: absolute;
        right: 42.35px;
        bottom: 44.41px;

        @media (min-width: 1099px) and (max-width: 1399px) {
          width: 260px;
          bottom: 85px;
        }
        @media (min-width: 992px) and (max-width: 1099px) {
          width: 230px;
          bottom: 150px;
        }

        @media (max-width: 992px) {
          width: auto;
          height: auto;
          bottom: 0;
        }
      }
    }
  }
}
