.pickup__online_order {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px 0;
  position: relative;

  @media (min-width: 768px) and (max-width: 1299px) {
    padding: 0 50px 0;
  }
  @media (max-width: 768px) {
    padding: 0 16px 0;
  }
  @media (max-width: 999px) {
    overflow: hidden;
  }

  .main_arrow_img {
    width: auto;
    height: auto;
    position: absolute;
    top: 120px;
    left: 119px;
    object-fit: contain;
    display: block;

    @media (min-width: 992px) and (max-width: 1399px) {
      left: 0;
    }
    @media (max-width: 992px) {
      display: none;
    }
  }

  .main_arrow_img-mobile {
    display: none;

    @media (max-width: 992px) {
      display: block;
      width: auto;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -57%);
      object-fit: contain;
      z-index: -1;
    }
  }
  .online_order_heading {
    width: 800px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    color: var(--black);
    margin-bottom: 103.99px;

    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 32px;
    }
    @media (max-width: 992px) {
      width: 100%;
    }
  }

  .flex_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 76px;

    @media (max-width: 992px) {
      flex-direction: column;
      gap: 18px;
    }

    .box_main_img {
      width: 476px;
      height: 476px;
      @media (max-width: 992px) {
        width: auto;
        height: auto;
      }
    }

    .box_main_img_desktop {
      width: 476px;
      height: 476px;
      display: block;
      @media (max-width: 992px) {
        display: none;
      }
    }

    .box_main_img_mobile {
      display: none;
      @media (max-width: 992px) {
        width: auto;
        height: auto;
        margin-top: 30px;
        display: block;
      }
    }

    .box_about.box_2 {
      max-width: 610px;
    }

    .box_about.box_1 {
      max-width: 582px;
    }

    .box_about {
      @media (max-width: 992px) {
        text-align: center;
      }
      .number {
        color: #000;
        -webkit-text-fill-color: #000;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #000;
        letter-spacing: -0.01em;
        font-weight: 700;
        font-size: 64px;
        line-height: 56px;
        margin-bottom: 32px;

        @media (max-width: 768px) {
          margin-bottom: 16px;
          font-size: 44px;
          line-height: 52px;
        }
      }
      .box_title {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 16px;
        @media (max-width: 768px) {
          font-size: 20px;
          line-height: 28px;
        }
      }
      .box_about {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.02em;
        color: #3c3c3c;
        width: 100%;
        @media (max-width: 768px) {
          font-size: 14px;
          line-height: 22px;
          text-align: center;
        }
      }
    }
  }
}
